

<html>

	<head>
		
		<link rel="stylesheet" href="/stylesheets/feedbackcss.css" type='text/css'>
		
		<title>
			Submit Feedback
		</title>
	
	</head>
	
	<body>
		<form>
			<label for="feedback-section">Comments/Feedback</label>
			<textarea id="feedback-section" required></textarea>
			
			<label for="user-name">Your Name</label>
			<input type="text" required id="user-name">
			
			<label for="user-email">Your Email</label>
			<input type="email" required id="user-email">
			
			<label for="user-phone">Your Phone (Optional)</label>
			<input type="tel" id="user-phone">
			
			<input type="submit" value="submit">
		</form>
		
		<div class="footer">
			<p>&copy; 2017 - PharmaLearn</p>
		</div>
		
	</body>
	
</html>