<!DOCTYPE HTML>

<html>

<head>
    <link rel="stylesheet" href="/stylesheets/indexcss.css" type='text/css'>

    <title>
        Learning Pharmacology Made Simple!
    </title>

</head>

<body>

    <header>
        <h1 class="intro">Welcome to RxReview </h1>
    </header>

    <section>
        <nav>

            <li><a href="">Systems</a></li>
            <li><a href="">Side Effects</a></li>
            <li><a href="/mechanism">Mechanisms </a></li>
            <li><a href="">Contraindications</a></li>

        </nav>
    </section>

    <div class="selections">
        <a href=/feedback>Give us Feedback</a>
    </div>

    <footer>
        <p>&copy; 2017 - RxReview</p>
    </footer>

</body>

</html>